{% load static %} {% load filters %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{title}}</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/shoppica.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery/lightbox.js' %}"></script>
    <meta name="description" content="Компьюетры и ноутбуки" />
     <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/lightbox.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/screen.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/color.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap/bootstrap.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/media.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'libs/font-awesome-4.7.0/css/font-awesome.min.css' %}" media="screen" />

    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="../static/stylesheet/ie.css" media="screen" />
    <![endif]-->




<script type="text/javascript">

$(document).ready(function() {



});
</script>
</head>

<body class="s_layout_fixed">

<div id="wrapper">
 <div class="burg_menu">
                                <ul>
                                <li class="close"><i class="fa fa-times" aria-hidden="true"></i></li>
                                <li><a href="/">Главная</a></li>
                                <li><a href="login.html">Войти</a></li>
                                <li><a href="cart.html">Корзина/Сборка</a></li>
                                <li> <a href="/notebooks"> <i class="fa fa-laptop" aria-hidden="true"></i> Ноутбуки</a>
                                <ul class="und_menu">
                                            <li><a href="/commonlaptop">Стандартные ноутбуки</a></li>
                                            <li><a href="/gaminglaptop">Игровые ноутбуки</a></li>
                                            <li><a href="/2in1">2в1 Трансформеры</a></li>
                                            <li><a href="/planshety">Планшеты</a></li>
                                            <li><a href="/note-bu">Рестоврация, Б/У</a></li>
                                        </ul></li>
                                <li> <a href="/komplektuyushie"> <i class="fa fa-microchip" aria-hidden="true"></i> Комплектующие</a>
                                <ul class="und_menu">
                                            <li><a href="/motherboard">Материнские платы</a></li>
                                            <li><a href="/cpu">Процессоры</a></li>
                                            <li><a href="/video">Видеокарты</a></li>
                                            <li><a href="/ram">Оперативная память</a></li>
                                            <li><a href="/hdd">HDD/SSD</a></li>
                                            <li><a href="/dvd">Внутрение приводы DVD</a></li>
                                            <li><a href="/bp">Корпусы и Блоки питания</a></li>
                                            <li><a href="/coolers">Система охлаждения</a></li>
                                        </ul>
                                </li>
                                <li><a href="/pc"><i class="fa fa-desktop" aria-hidden="true"></i> Компьютеры</a>
                                <ul class="und_menu">
                                            <li><a href="/offisnye">Офисные</a></li>
                                            <li><a href="/premium">Премиум</a></li>
                                            <li><a href="/igrovye">Игровые</a></li>
                                            <li><a href="/servera">Серера</a></li>
                                            <li><a href="/monobloki">Моноблоки</a></li>
                                            <li><a href="/bu">Б/У</a></li>
                                        </ul>
                                </li>
                                <li><a href="/perf"><i class="fa fa-headphones" aria-hidden="true"></i> Переферия</a>
                                <ul class="und_menu">
                                            <li><a href="/monitors">Мониторы</a></li>
                                            <li><a href="/keyboard-mouse">Клавиатуры и Мышки</a></li>
                                            <li><a href="/mfu">Принтеры и МФУ</a></li>
                                            <li><a href="/headphones">Наушники и Микрофоны </a></li>
                                            <li><a href="/ups">UPS и стабилизаторы</a></li>
                                            <li><a href="/proectors">Проекторы</a></li>
                                            <li><a href="/sound">Акустика и Звуковые системы</a></li>
                                            <li><a href="/network">Модемы и сеть</a></li>
                                        </ul>
                                </li>
                                <li><a href="/acses"><i class="fa fa-plug" aria-hidden="true"></i> Аксесуары</a>
                                <ul class="und_menu">
                                            <li><a href="/usb">Кабеля USB</a></li>
                                            <li><a href="/net-cables">Сетевые кабеля</a></li>
                                            <li><a href="/other-cables">HDMI SVGA DVI кабеля</a></li>
                                            <li><a href="/power-cabel">Кабеля питания</a></li>
                                            <li><a href="/usb-acses">USB устройства</a></li>
                                            <li><a href="/other">Расходные материалы (Разное)</a></li>
                                            <li><a href="/pci">PCI Устройства</a></li>
                                            <li><a href="/acses-nb">Аксессуары для ноутбуков</a></li>
                                        </ul>
                                </li>
                                <li><a href="static.html">О нас</a></li>
                                <li><a href="contacts.html">Контакты</a></li>
                                </ul>
                            </div>
    <!-- ********************** -->
    <!--      H E A D E R       -->
    <!-- ********************** -->
    <div class="container">
        <div class="row">
            <div id="header" class="container_12">
                <div class="grid_12">
                    <div class="col-md-12">
                        <a id="site_logo" href="/"></a>

                        <div id="site_search">
                            <a id="show_search" href="javascript:;" title="Search:"></a>
                            <div id="search_bar" class="clearfix">
                                <input type="text" id="filter_keyword" />

                                <a class="s_button_1 s_secondary_color_bgr"><span class="s_text">Поиск</span></a>
                            </div>
                        </div>
                    </div>
                </div>


                    <div class="col-md-12">
                        <div id="system_navigation" class="s_nav">
                            <ul class="s_list_1 clearfix">
                                <li><a href="/">Главная</a></li>
                                <li><a href="/cart/craft">Сборка</a></li>
                                <li><a href="/cart/versus">Сравнение</a></li>
                                <li><a href="/about_us">О нас</a></li>
                            </ul>
                        </div>
                    </div>





                    </div>


            </div>
        </div>
  <nav id="categories" class="s_nav">
                            <div class="menu-button">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </div>
                            <ul class="navig">
                                <li id="menu_home"> <a href="/"></a> </li>
                                <li> <a href="/notebooks"> <i class="fa fa-laptop" aria-hidden="true"></i> Ноутбуки</a>
                                    <div class="s_submenu">
                                        <ul class="s_list_1 clearfix">
                                        </ul>
                                        <span class="clear border_eee"></span>
                                        <h3>Ноутбуки</h3>
                                        <ul class="s_list_1 clearfix">
                                            <li><a href="/commonlaptop">Стандартные ноутбуки</a></li>
                                            <li><a href="/gaminglaptop">Игровые ноутбуки</a></li>
                                            <li><a href="/2in1">2в1 Трансформеры</a></li>
                                            <li><a href="/planshety">Планшеты</a></li>
                                            <li><a href="/note-bu">Рестоврация, Б/У</a></li>
                                            <li> <span class="clear border_eee"></span></li>
                                        </ul>
                                    </div>
                                </li>
                                <li> <a href="/komplektuyushie"> <i class="fa fa-microchip" aria-hidden="true"></i> Комплектующие</a>
                                    <div class="s_submenu">
                                        <h3>Inside Computers</h3>
                                        <ul class="s_list_1 clearfix">
                                            <li><a href="/motherboard">Материнские платы</a></li>
                                            <li><a href="/cpu">Процессоры</a></li>
                                            <li><a href="/video">Видеокарты</a></li>
                                            <li><a href="/ram">Оперативная память</a></li>
                                            <li><a href="/hdd">HDD/SSD</a></li>
                                            <li><a href="/dvd">Внутрение приводы DVD</a></li>
                                            <li><a href="/bp">Корпусы и Блоки питания</a></li>
                                            <li><a href="/coolers">Система охлаждения</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="/pc"><i class="fa fa-desktop" aria-hidden="true"></i> Компьютеры</a>
                                    <div class="s_submenu">
                                        <h3>Inside Computers</h3>
                                        <ul class="s_list_1 clearfix">
                                            <li><a href="/offisnye">Офисные</a></li>
                                            <li><a href="/premium">Премиум</a></li>
                                            <li><a href="/igrovye">Игровые</a></li>
                                            <li><a href="/servera">Серера</a></li>
                                            <li><a href="/monobloki">Моноблоки</a></li>
                                            <li><a href="/bu">Б/У</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="/perf"><i class="fa fa-headphones" aria-hidden="true"></i> Переферия</a>
                                    <div class="s_submenu">
                                        <h3>1</h3>
                                        <ul class="s_list_1 clearfix">
                                            <li><a href="/monitors">Мониторы</a></li>
                                            <li><a href="/keyboard-mouse">Клавиатуры и Мышки</a></li>
                                            <li><a href="/mfu">Принтеры и МФУ</a></li>
                                            <li><a href="/headphones">Наушники и Микрофоны </a></li>
                                            <li><a href="/ups">UPS и стабилизаторы</a></li>
                                            <li><a href="/proectors">Проекторы</a></li>
                                            <li><a href="/sound">Акустика и Звуковые системы</a></li>
                                            <li><a href="/network">Модемы и сеть</a></li>
                                        </ul>
                                        <span class="clear border_eee"></span>
                                    </div>
                                </li>
                                <li><a href="/acses"><i class="fa fa-plug" aria-hidden="true"></i> Аксесуары</a>
                                    <div class="s_submenu">
                                        <h3>1</h3>
                                        <ul class="s_list_1 clearfix">
                                            <li><a href="/usb">Кабеля USB</a></li>
                                            <li><a href="/net-cables">Сетевые кабеля</a></li>
                                            <li><a href="/other-cables">HDMI SVGA DVI кабеля</a></li>
                                            <li><a href="/power-cabel">Кабеля питания</a></li>
                                            <li><a href="/usb-acses">USB устройства</a></li>
                                            <li><a href="/other">Расходные материалы (Разное)</a></li>
                                            <li><a href="/pci">PCI Устройства</a></li>
                                            <li><a href="/acses-nb">Аксессуары для ноутбуков</a></li>
                                        </ul>
                                        <span class="clear border_eee"></span>
                                    </div>
                                </li>
                            </ul>
                            <div id="carting">
                                <div id="cart_menu_2" class="s_nav">
                                    <a href="/cart/craft"><span class="s_icon"><i class="fa fa-cogs" aria-hidden="true"></i></span> <small class="s_text"> Сборка</small><span class="s_grand_total s_main_color"></span></a>
                                    <div class="s_submenu s_cart_holder">
                                        <p class="s_mb_0">
                                            фывыфвыфвфывфывфывфывы
                                        </p>
                                    </div>
                                </div>
                                <div id="cart_menu_3" class="s_nav">
                                    <a href="/cart/versus/"><span class="s_icon"><i class="fa fa-balance-scale" aria-hidden="true"></i></span> <small class="s_text"> Сравнение</small><span class="s_grand_total s_main_color"></span></a>
                                    <div class="s_submenu s_cart_holder">
                                        <p class="s_mb_0">
                                            фывыфвыфвфывфывфывфывы
                                        </p>
                                    </div>
                                </div>
                                <div id="cart_menu" class="s_nav">
                                    <a href="/cart"><span class="s_icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span> <small class="s_text">Корзина</small><span class="s_grand_total s_main_color">{{ cart.get_total_price|price_convert }} сум</span></a>
                                    <div class="s_submenu s_cart_holder">
                                        <p class="s_mb_0">
                                            {% with total_items=cart|length %}
                                            {% if cart|length > 0 %}
                                            Ваша корзина:
                                        <p>{{ total_items }} тов. {{ cart.get_total_price|price_convert }} сум</p>
                                        <table cellpadding="8px" cellspacing="8px">
                                            <tr><td>Фирма</td><td>Наименование</td><td>Количество</td><td>Цена</td></tr>
                                            {% for item in cart %}
                                            {% with product=item.product %}
                                            <tr><td><b>{{product.property_1}}</b></td><td><b><a href="{{product.get_absolute_url}}">{{product.name}}</a></b> </td> <td>{{item.quantity}}</td>  <td>{{item.total_price}}</td> </tr>
                                            {% endwith %}
                                            {% endfor %}
                                            {% else %}
                                            Корзина пустая
                                            {% endif %}
                                            {% endwith %}
                                        </table>

                                    </div>
                                </div>



                            </div>
                        </nav>
    <!-- end of header -->

    {% block content %}
    {% endblock content  %}
    <!-- ********************** -->
    <!--   S H O P   I N F O    -->
    <!-- ********************** -->

        <div id="shop_info">
            <div id="shop_info_wrap">
                <div class="container">
                <div class="container_12">
                    <div class="row">
                        <div class="col-md-3">
                            <div id="shop_description" class="grid_3">
                                <h2><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> PCShop</h2>
                                <p>Торговые ряды "Малика" Б-Блок, 31-магазин</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div id="shop_contacts" class="grid_3">
                                <h2><i class="fa fa-envelope" aria-hidden="true"></i> Свяжитесь с нами!</h2>
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td valign="middle"><span class="s_icon_32"><span class="s_icon s_phone_32"></span>+99894 677 79 88 <br /></span></td>
                                    </tr>
                                    <tr>
                                        <td valign="middle"><span class="s_icon_32"><span class="s_icon s_phone_32"></span>+99897 765 33 99 <br />Для корпоративных клиентов  <br /></span></td>
                                    </tr>
                                    <tr>
                                        <td valign="middle"><span class="s_icon_32"><span class="s_icon s_mail_32"></span>info@pcshop.uz</span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div id="twitter" class="grid_3">
                                <h2><i class="fa fa-telegram" aria-hidden="true"></i> Telegram</h2>
                                <ul id="twitter_update_list"><li></li></ul>
                                <a href="https://t.me/ingameuz_chat">Чат группа Ingame</a>
                                <script type="text/javascript" src=""></script>
                                <script type="text/javascript" src=""></script>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div id="facebook" class="grid_3">
                                <h2><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</h2>
                                <div class="s_widget_holder">
                                    facebook.com/pcshop.uz
                                    <fb:fan profileid="111188056908" stream="0" connections="6" logobar="0" width="220" css=""></fb:fan>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- end of shop info -->

        <!-- ********************** -->
        <!--      F O O T E R       -->
        <!-- ********************** -->
        <div class="container">
        <div class="row">

        <div id="footer" class="container_12">
            <div id="footer_categories" class="clearfix">
                <div class="col-md-2">
                <div class="grid_2">
                    <h2>Ноутбуки</h2>
                    <ul class="s_list_1">
                        <li><a href="/commonlaptop">Стандартные ноутбуки</a></li>
                        <li><a href="/gaminglaptop">Игровые ноутбуки</a></li>
                        <li><a href="/2in1">2в1 Трансформеры</a></li>
                        <li><a href="/planshety">Планшеты</a></li>
                        <li><a href="/note-bu">Рестоврация, Б/У</a></li>
                    </ul>
                </div>
                </div>
                <div class="col-md-2">
                <div class="grid_2">
                    <h2>Комплектующие</h2>
                    <ul class="s_list_1">
                        <li><a href="/motherboard">Материнские платы</a></li>
                        <li><a href="/cpu">Процессоры</a></li>
                        <li><a href="/video">Видеокарты</a></li>
                        <li><a href="/ram">Оперативная память</a></li>
                        <li><a href="/hdd">HDD/SSD</a></li>
                        <li><a href="/dvd">Внутрение приводы DVD</a></li>
                        <li><a href="/bp">Корпусы и Блоки питания</a></li>
                        <li><a href="/coolers">Система охлаждения</a></li>
                    </ul>
                </div>
                </div>
                <div class="col-md-2">
                <div class="grid_2">
                    <h2>Компьютеры</h2>
                    <ul class="s_list_1">
                        <li><a href="/offisnye">Офисные</a></li>
                        <li><a href="/premium">Премиум</a></li>
                        <li><a href="/igrovye">Игровые</a></li>
                        <li><a href="/servera">Серера</a></li>
                        <li><a href="/monobloki">Моноблоки</a></li>
                        <li><a href="/bu">Б/У</a></li>
                    </ul>
                </div>
                </div>
                <div class="col-md-2">
                <div class="grid_2">
                    <h2>Переферия</h2>
                    <ul class="s_list_1">
                        <li><a href="/monitors">Мониторы</a></li>
                        <li><a href="/keyboard-mouse">Клавиатуры и Мышки</a></li>
                        <li><a href="/mfu">Принтеры и МФУ</a></li>
                        <li><a href="/headphones">Наушники и Микрофоны </a></li>
                        <li><a href="/ups">UPS и стабилизаторы</a></li>
                        <li><a href="/proectors">Проекторы</a></li>
                        <li><a href="/sound">Акустика и Звуковые системы</a></li>
                        <li><a href="/network">Модемы и сеть</a></li>
                    </ul>
                </div>
                </div>
                <div class="col-md-2">
                <div class="grid_2">
                    <h2>Аксесуары</h2>
                    <ul class="s_list_1">
                        <li><a href="/usb">Кабеля USB</a></li>
                        <li><a href="/net-cables">Сетевые кабеля</a></li>
                        <li><a href="/other-cables">HDMI SVGA DVI кабеля</a></li>
                        <li><a href="/power-cabel">Кабеля питания</a></li>
                        <li><a href="/usb-acses">USB устройства</a></li>
                        <li><a href="/other">Расходные материалы (Разное)</a></li>
                        <li><a href="/pci">PCI Устройства</a></li>
                        <li><a href="/acses-nb">Аксессуары для ноутбуков</a></li>
                    </ul>
                </div>
                </div>
                <div class="grid_2">
                </div>
                <div class="clear"></div>
                <div class="grid_12 border_eee"></div>
            </div>
        </div>
         </div>
          </div>
        <!-- end of FOOTER -->
    </div>


<div id="fb-root"></div>
<script type="text/javascript">

</script>

</body>
</html>
