{% extends 'base.html' %} {% load static %} {%load filters%}
{% block content %}
<div class="row">
  <div class="container">
    <div class="col-md-8">
<h1>
Компьютерная техника и комплектующие для ПК
</h1>
<h2>
О нас.
  </h2>
<p>
  С 1998 года «PCShop group» осуществляет реализацию продукции ведущих производителей, а также сборку персональных компьютеров, графических станций и серверов. За это время мы завоевали доверие более 100 корпоративных клиентов, собрали более 10 000 компьютеров, а также создали солидную клиентскую базу.
 </p>     <h2>Миссия «PCShop group»</h2> <p>
  Миссия магазинов PCHop — дарить людям возможность приобретать компьютерную технику по низким ценам с качественным обслуживанием и гарантией, потому что мы считаем, что одним из важнейших качеств хорошего магазина является высокий уровень покупательского сервиса.
И мы стремимся к тому, чтобы наши клиенты доверяли нам, как к своим друзьям.
</p>
<h2>
Для удобства выбора
</h2>
<p>
  Мы стремимся предоставить максимум полезной информации о продаваемых товарах. Сайт PCShop.uz снабжен простыми и эффективными инструментами подбора товаров по техническим характеристикам. Например, в категории «ПК» вы можете задать сортировку по 11 важным параметрам. Мы готовы предложить 100% совместимые сопутствующие товары, аксессуары и расходные материалы.
</p>
<p>
  Удобная доставка по всему Узбекистану.
Все товары в нашем магазине продаются с доставкой.
Доставка в пределах Ташкента осуществляется в течении одного дня. В области предоставляется доставка течении 3х дней.
Любой из наших товаров вы можете приобрести в кредит даже без первого взноса.
</p>
<h2>
Структура компании
</h2>
<p>
  В PCShop входит три самостоятельной фирмы.
</p>
<ul style="list-style:round;">
  <li>PCShop - Осуществляет сборку персональных компьютеров, графических станций, серверов и совместимые сопутствующих товаров и расходных материалов.</li>
  <li>Home credit – Осуществляет реализацию бытовой техники, компьютеров и ноутбуков в кредит.</li>
  <li>inGame – Первый в Узбекистане Киберспортивный магаз</li>
  </ul>
</div>
    </div>
  </div>
{% endblock %}