{% extends 'base.html' %}
 {% load filters %}
{% block content %}


  <!-- ********************** --> 
  <!--     I N T R O          -->
  <!-- ********************** --> 

  <div id="intro_2">
    <div id="intro_wrap">
      <div class="container">
       <div class="row">
         <div class="col-md-12">
      <div class="container_12">
        <div id="breadcrumbs" class="grid_12">
          <a href="/">Магазин</a>
          &gt;
          <a href="/{{products.0.maincategory.slug}}">{{products.0.maincategory.name}}</a>
          &gt;
          <a href="/{{products.0.category.slug}}">{{products.0.category.name}}</a>
        </div>
        <h1>{{products.0.category.name}}</h1>
      </div>
    </div>
  </div>
  </div>
    </div>
    </div>
  <!-- end of intro -->

  
  <!-- ********************** --> 
  <!--      C O N T E N T     -->
  <!-- ********************** -->
<div class="container">
  <div class="row">
  <div id="content" class="container_16">
    <div class="col-md-3">
       <div id="right_col" class="grid_4">
      {% include 'cart_col.html'%}
      {% include 'filter_col.html'%}

    </div>
    </div>
  </div>
    <div class="col-md-9">
    <div id="category" class="grid_12">


      
      <div id="listing_options">
        <div id="listing_sort" class="s_switcher">
          <span class="s_selected">Default</span>
          <ul class="s_options" style="display: none;">
            <li><a href="">Name A - Z</a></li>
            <li><a href="">Name Z - A</a></li>
            <li><a href="">Price Low &gt; High</a></li>
            <li><a href="">Price High &gt; Low</a></li>
            <li><a href="">Rating Highest</a></li>
            <li><a href="">Rating Lowest</a></li>
            <li><a href="">Model A - Z</a></li>
            <li><a href="">Model Z - A</a></li>
          </ul>
        </div>
        <div id="view_mode" class="s_nav">
          <ul class="clearfix">
            <li id="view_grid" class="s_selected"><a href="?chos=True"><span class="s_icon"></span>Сеткой</a></li>
            <li id="view_list"><a href="?chos=False"><span class="s_icon"></span>Списком</a></li>
          </ul>
        </div>
      </div>

      <div class="clear"></div>
      
      <div class="s_listing s_grid_view clearfix">
        {% for product in products %}
        <div class="col-md-3 col-sm-3">
        <div class="s_item grid_3"> <a class="s_thumb" href="{{product.get_absolute_url}}"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}" title="{{ product.name }}"  /></a>
          <h3><a href="{{product.get_absolute_url}}">{{product.name}}</a></h3>
          <p class="s_model">{{product.property_1}}</p>
          <p class="s_price">{{ product.price|price_convert }}</br><span class="s_currency s_before">сум</span></p>
        <!--  <p class="s_rating s_rating_5"><span style="width: 60%;" class="s_percent"></span></p> -->
          <a class="s_button_add_to_cart" href="{% url 'cart:CartAdd' product.maincategory.slug product.slug %}"><span class="s_icon_16"><span class="s_icon"></span>Добавить в коризну</span></a>
        </div>
          </div>
        {% endfor %}

        <div class="clear"></div>

      </div>

      <div class="pagination">
        <div class="links"> <b>1</b> <a href="">2</a> <a href="">&gt;</a> <a href="">&gt;|</a> </div>
        <div class="results">Showing 1 to 12 of 20 (2 Pages)</div>
      </div>
      </div>
	
    
</div>
</div>
  </div>

  <!-- end of content -->


{% endblock %}
